/* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

/* Exercise Section */
section {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Footer */
footer {
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
  padding: 20px;
}